# PORTFOLIO

## 1.EXTRACCION DATASETS INDICES ETFS

In [1]:
import yfinance as yf
import pandas as pd
import datetime
from scipy.optimize import minimize

In [2]:
jepi_data=yf.Ticker('JEPI')

In [3]:


#1   fecha_inicial, la cual podemos modificar a nuestro antojo
fecha_inicial = '2024-01-01'

#2   fecha_final, la cual podemos modificar a nuestro antojo
fecha_final = '2024-07-10'

In [4]:
jepi_df=jepi_data.history(start=fecha_inicial, end=fecha_final)
jepi_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2024-01-02 00:00:00-05:00,53.007738,53.249209,52.988419,53.239548,4294300,0.0,0.0,0.0
2024-01-03 00:00:00-05:00,53.210567,53.220224,52.940121,52.940121,3541300,0.0,0.0,0.0
2024-01-04 00:00:00-05:00,52.978758,53.180627,52.911146,52.920807,4056300,0.0,0.0,0.0
2024-01-05 00:00:00-05:00,52.901486,53.094664,52.758536,52.882168,3982500,0.0,0.0,0.0
2024-01-08 00:00:00-05:00,52.911147,53.239548,52.884102,53.239548,3498700,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-07-02 00:00:00-04:00,56.099998,56.244999,56.049999,56.200001,2785100,0.0,0.0,0.0
2024-07-03 00:00:00-04:00,56.299999,56.325001,56.119999,56.139999,2345800,0.0,0.0,0.0
2024-07-05 00:00:00-04:00,56.200001,56.380001,56.070000,56.380001,2848800,0.0,0.0,0.0
2024-07-08 00:00:00-04:00,56.340000,56.360001,56.172001,56.240002,2573900,0.0,0.0,0.0
2024-07-09 00:00:00-04:00,56.279999,56.279999,56.060001,56.130001,3166600,0.0,0.0,0.0

In [5]:
jepi_df.index = jepi_df.index.strftime('%Y-%m-%d')

In [6]:
jepi_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2024-01-02,53.007738,53.249209,52.988419,53.239548,4294300,0.0,0.0,0.0
2024-01-03,53.210567,53.220224,52.940121,52.940121,3541300,0.0,0.0,0.0
2024-01-04,52.978758,53.180627,52.911146,52.920807,4056300,0.0,0.0,0.0
2024-01-05,52.901486,53.094664,52.758536,52.882168,3982500,0.0,0.0,0.0
2024-01-08,52.911147,53.239548,52.884102,53.239548,3498700,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-07-02,56.099998,56.244999,56.049999,56.200001,2785100,0.0,0.0,0.0
2024-07-03,56.299999,56.325001,56.119999,56.139999,2345800,0.0,0.0,0.0
2024-07-05,56.200001,56.380001,56.070000,56.380001,2848800,0.0,0.0,0.0
2024-07-08,56.340000,56.360001,56.172001,56.240002,2573900,0.0,0.0,0.0
2024-07-09,56.279999,56.279999,56.060001,56.130001,3166600,0.0,0.0,0.0